@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Heebo', sans-serif;
}

#check:checked {
    background-color: red !important;
}

#ritorno{
    visibility: hidden;
}

#frase{
    visibility: hidden;
}

input:focus{
    box-shadow: 0px 0px 10px 5px red !important;
}
