@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}

#elenco, #acquisti {
    min-height: 600px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#carrello {
    font-size: 23px;
}

#menu {
    font-size: 40px;
}

#carrello2 {
    font-size: 23px;
}

#log-outIcon {
    font-size: 26px;
}

#menu2 {
    font-size: 40px;
}

#carrello, #shop, #login, #menu {
    color: white;
}
#carrello:hover, #shop:hover, #login:hover, #menu:hover {
    color: grey;
}

#carrello2, #shop2, #login2, #menu2 {
    color: black;
}
#carrello2:hover, #shop2:hover, #login2:hover, #menu2:hover {
    color: grey;
}

nav {
    background-color: transparent !important;
    --ease: all 500ms ease;
    transition: var(--ease);
}

nav.fade-in {
    background: #f8f9fa !important;
}
nav.nav-shop {
    background: #262626 !important;
}

.offcanvas-body ul li {
    font-size: 17px;
}
.offcanvas-body ul li a{
    display: inline;
    line-height: 50px;
}
.offcanvas-body ul li a:hover {
    color: black;
}
.btn-close{
    margin-left: 180px;
}

#hero-section{
    padding: 0;
}

.carousel-item{
    height: 60vh;
}
.carousel-item img{
    object-fit: cover;
    height: 320px;
    margin-left: 18px;
    margin-top: 65px;
}

#totaleCarrello {
    font-size: 25px;
}

#totale {
    font-size: 25px;
}

#paypal {
    background-color: #dfdfdf;
    border-radius: 30px;
    border: 1px solid #50575e;
}
#paypal:hover {
    background-color: transparent;
}

#checkout {
    font-size: 20px;
    color: white;
    background-color: #111111;
    border-radius: 35px;
    border: 1px solid #50575e;
}
#checkout:hover {
    background-color: #272727;
}

#basic-addon2 {
    cursor: pointer;
}

.carousel-inner h2{font-size: 18px;}
.carousel-inner p{font-size: 13px;}

#img1 {
    background-image: url('../../assets/img/air-jordan-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#img2 {
    background-image: url('../../assets/img/air-jordan-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#img3 {
    background-image: url('../../assets/img/air-jordan-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#img4 {
    background-image: url('../../assets/img/air-jordan-4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.hero-title{
    background-image: url("../../assets/img/air-jordan-5.png");
    width: 100%;
    height: 40vh;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.hero-title img{
    width: 200px;
    height: auto;
    position: absolute;
    top: 7px;
    right: 15px;
    z-index: 1;
    opacity: 0.6;

}
.hero-title h1{
    font-size: 100px;
    line-height: 0.6;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    text-shadow: 4px 6px 10px #333;
    z-index: 9;
    position: relative;
}
.hero-title strong{
    margin-left: 30px;
    color: #999;
}
.hero-title p{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.container-img img {
    padding-top: 10px;
    height: 100%;
    width: 100%;
} 

#storia,
#caratteristiche,
#colori {
    background-color: #f6f6f6;
}

#caratt, #story {
    margin-top: 40px;
}

#colori {
    padding-top: 100px;
}

#jordan {
    color: red;
    font-weight: 900;
    text-shadow: 25px 10px gray;
}


#cardShop:hover {
    transform: scale(1.1);
    transition-duration: 1s;

}

#card-title-carrello {
    font-size: 15px;
}

.spacer {
    width: 100%;
    height: 100px;
    background-color: white;
}

footer {
    background-color: #111111;
    white-space: nowrap;
}

footer h3:hover {
    text-decoration: underline;
}

footer #footerMenu {
    display: flex;
    justify-content: space-around;
}

footer #footerMenu .footerList {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer #footerMenu .footerList a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    margin: 5px 0;
}

footer #social {
    margin-bottom: 1em;
}

footer #copyright {
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.471);
}
footer #geoLocation {
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    color: white;
}

#social div i {
    color: white;
}

#social div i:hover {
    color: #ff0000;
}

#button-addon2,
#invia {
    background-color: #ff0000;
}

#button-addon2:hover,
#invia:hover {
    background-color: #c00000;
}

ul li {
    list-style: none;
}

.jordanCollaction{
    margin-top: 100px;
}

#schedaProdotto {
    margin-top: 100px;
}

.modello-prezzo {
    font-size: 20px;
    padding-bottom: 10px;
}

.card {
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
}

#cardShop {
    margin-bottom: 40px;
}

#cartCounter1 {
    padding-left: 10px;
    font-size: 20px;
    color: white;
}
#cartCounter2 {
    padding-left: 10px;
    font-size: 20px;
    color: black;
}

#aggiungi {
    background-color: #ff0000;
}

#visualizza {
    background-color: gray;
}

#aggiungi:hover {
    background-color: #c00000;
}

#visualizza:hover {
    background-color: #50575e;
}

.numeri {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.numeri:hover {
    color: #ff0000;
    text-decoration: none;
}  

.numeri a:active {
    color: #ff0000;
}

#aggiungiCarrello {
    background-color: #212529;
}
#aggiungiCarrello:hover {
    background-color: #303336;
}

#contattaci{
    background-image: url("../../assets/img/air-jordan-6.png");
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#contactForm {
    max-width: 750px;
}

#newsletter {
    max-width: 750px;
}

.progress {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #555555;
}

.bar {
    width: 0;
    display: block;
    height: inherit;
    background-color: #ff0000;
}


@media (min-width: 768px) {
    .carousel-item {height: 95vh;}
    .carousel-item img{
        height: 75%;
        margin-top: 75px;
    }
    .carousel-inner h2{font-size: 30px;}
    .carousel-inner p{font-size: 13px;}
}

@media (min-width: 1040px) {
    .carousel-item img{
        object-fit: contain;
        margin-top: 100px;
    }
}

@media (min-width: 768px) {
    .hero-title img{
        width: 300px;
        height: auto;
        right: 10%;
    }
    .hero-title{
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
    }
    .hero-title h1, p{
        width: 300px;
        margin: 0 auto;
    }

}
@media (min-width: 1040px) {
    .hero-title {
        background-position: center;
    }
    .hero-title h1{
        text-align: left;
        width: 300px;
        margin: 0 auto;
    }
    .hero-title img{right: 20%;}
    .hero-title strong{margin-left: 70px;}
    .hero-title p{text-align: center;}
    .hero-title i{right: -260px;}
}

#lineaDivisoria1 {
    border-radius: 100%;
    background-color: #ff0000;
    height: 7px;
    margin: 20px 100px;
}

#lineaDivisoria2 {
    border-radius: 100%;
    background-color: gray;
    height: 7px;
    margin: 20px 100px;
}

.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none;
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
            user-select: none;
}